$c-primary: #464751;
$c-primary-light: #babcbe;
$c-secondary: #efefef;
$c-accent: #286df3;
$c-accent-light: #e9f0ff;
$c-white: #fff;
$c-green: #2cca8c;
$c-red: #fd7d7d;
$c-black-rgba: rgba(0, 0, 0, 0.1);
